<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo-font-banner1">
      <%= "Gabriel Campista" %>
     </div>
    <div class="logo-font-banner2">
      <%= "Photography" %>
    </div>
  <% end %>

  <i class="fas fa-bars dropdown-burger" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "photos",categories_path, class: "dropdown-item" %>
    <%= link_to "about me", about_path, class: "dropdown-item" %>
    <%= link_to "contact", "#", class: "dropdown-item" %>
    <%= link_to "instagram","https:/instagram.com/campista", target: "_blank", class: "dropdown-item" %>
    <% if user_signed_in? %>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    <% end %>
  </div>
</div>
