<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo-font-banner1">
      <%= "Gabriel Campista" %>
      <div class="logo-font-banner2">
        <%= "Photography" %>
      </div>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item">
          <%= link_to "about me", root_path, class: "nav-link" %> 
        </li>
        <li class="nav-item">
          <%= link_to "contact", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "booking", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
      </div>
  
         
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "about me", "#", class: "dropdown-item" %>
            <%= link_to "contact", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
