<h1>CATEGORIES NEW</h1>
<% if notice.present? %>
  <%= notice.html_safe %>
<% end %>
 
 <h1><%=@category.title%></h1>

<p> add picture </p>
<p> edit picture </p>
<p> delete picture </p>

<%= link_to "Delete",
            category_path(@category.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to 'Back', categories_path(@categories) %>

<%= link_to 'Edit category', edit_category_path(@category) %>

<%= link_to 'Add category', new_category_path(@categories) %>

